# esp-8266-weather-node

# rename this file to arduino_secrets.h before continuing, 
# and replace the secrets below with your relevant credentials

#define SECRET_SSID "foo"
#define SECRET_PASS "foo"
